.body{
    background:blueviolet;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.container9{
      height:80vh;
    background:violet;
    padding:4px 100px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.text{
    position:relative;
    left:100px;
    font-size: 40px;;
}
.underline{
     position:relative;
    left:130px;
    width:61px;
    height:5px;
    background:blue;
    border-radius: 10px;;
    margin-bottom:55px;
}
.inputs{
    gap:25px;
    display:flex;
    flex-direction: column;
    
}
.input9{
    display:flex;
    justify-content: left;
    align-items: center;
  width:480px;
  height:80px;
  background:rgb(154, 181, 204);
  border-radius:6px;
}

.icon{
    margin:0 30px;
}

.input9 input{
    height:50px;
    width:300px;
    background:transparent;
    border:none;    
    outline:none;
    /* background:aliceblue; */
}
.forgot{
    padding-left:62px;
    margin-top: 20px;
}
.forgot span{
    color:blueviolet;
    cursor:pointer;
}
.submit-container{
    display:flex;
    gap:30px;
   justify-content: center;
   margin:60px auto;
   position:fixed;
   margin-bottom:0px;
}
.submit{
    display:flex;
    justify-content:center;
    align-items: center;
    width:220px;
    height:59px;
    color:aliceblue;
    background:blue;
    border-radius: 30px;;
    font-size: 30px;;
    cursor:pointer;
    font-weight: 700;
    
}

.gray{
    
    background:gray;
    color:antiquewhite;
    opacity:0.3;
}